.container {
  display: flex;
}

.grid {
  margin-left: 50px;
  width: 200px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  background-color: black;
}

.grid div {
  height: 20px;
  width: 20px;

}

.tetromino {
  background-color: blue;
}

.mini-grid {
  margin-left: 50px;
  width: 80px;
  height: 80px;
  display: flex;
  flex-wrap: wrap;
  background-color: black;
}

.mini-grid div {
  height: 20px;
  width: 20px;
}

.stats-pieces {
  height: 20px;
  width: 20px;
    display: flex;
    flex-wrap: wrap;
    /*background-color: black;*/
}

.statistics {
  margin-left: 50px;
  grid-template-columns:100px 100px;
}

.stats-pieces div {
  height: 20px;
  width: 20px;
}

.start-and-next {
  display:grid;
  grid-template-columns:300px 130px 200px;
  grid-template-rows:20px;
}

.next-text {
  display: flex;
}
